body {
  background-color:#466ea3;
}
.todos-container {
  background-image: url('/public/bgimg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  padding: 2.5rem;
  margin: 2rem auto;
  max-width: 600px;
  border-radius: 12px;
}

h1, label, select, option, .todos-sorting, ul {
  background: none;
}

/* .todos-container h1 {
  text-align: center;
  font-size: 3rem;
} */

.todos-sorting {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}

select {
  padding: 0.1rem;
  border: 1px solid #004aad;
  border-radius: 4px;
}

.sorting-label {
  margin-right: 0.5rem;
  font-family: "Karla", sans-serif;
  color: #004aad;
  font-weight: 700;
}

label {
  font-family: "Coming Soon", cursive;
  
}

.the-todos {
  margin: 0 2.5rem 2rem;
  background-color: white;
}

ul, li, .done, form, input {
  background-color: white;
}

ul {
  display: block;
    list-style: none;
    padding: 0;
    margin: 0; 
}

li {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #004aad;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  color: #004aad;
  position: absolute;
  font-size: 14px;
  top: -4px;
  left: 1px;
}

input[type="checkbox"]:hover {
  box-shadow: 0 0 5px #004aad;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

/* .delete-btn {
    margin-left: auto;
    padding: 0.25rem 0.7rem;
    text-decoration: none;
    font-size: 0.85rem;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #004aad;
    border-radius: 4px;
}

.delete-btn:hover {
  background: #f1f4fd;
  font-size: 0.88rem;
} */

/* ADD TODO*/

.add-todo-container {
  background-color: white;
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 12px;
}

.center-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
}

/* .form-label {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #004aad;
  font-family: "Karla", sans-serif;
  font-weight: 700;
} */

.add-todo-container input[type="text"] {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box; 
  padding: 0.4rem;
  border: 2px solid #004aad;
  border-radius: 4px;
  font-family: "Coming Soon", cursive;
}

/* .form-btn {
    background-color: #004aad;
    color: white;
    padding: 0.6rem 1rem;
    text-decoration: none;
    font-size: 0.85rem;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #004aad;
    border-radius: 4px;
    
} */
/* .form-btn:hover {
  background: #3a69a7;
  font-size: 0.88rem;
} */


/*Större skärm*/ 
@media screen and (min-width: 530px) {
  .the-todos {
    padding: 1rem;
    max-width: 600px;
    border-radius: 12px;
  }

  li {
    padding: 0.5rem 1rem;
  }

  .delete-btn {
    margin-left: auto;
  }
}
